@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --back: #211E32;
    --dark: #2A2F42;
    --green: #5AFE72;
    --purple: #9A3BBA;
    --danger: #FE4E56;
    --yellow: #fbff22;
    --white: #fff;
    --light: #ECF2FF;
    --orange: #FFA16C;
    --ping: #FFA3FD;
    --JShine: #12c2e9, #c471ed, #f64f59;
}

body {
    background-image: linear-gradient(to left ,#F7C8E0 , #DFFFD8 , #B4E4FF , #95BDFF);
    font-family: system-ui;
    overflow: hidden;
}

.container {
    height: 94%;
    width: 1200px;
    max-width: 100%;
    border-radius: 24px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 20% 54% 26%;
    padding: 12px;
    border: 2px solid var(--ping);
}

.center ,
.cart {
    height: 90vh;
    overflow: hidden;
}

.container .menu {
    position: relative;
    background-color: var(--white);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 30px;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

.menu .logo {
    padding-left: 20px;
    font-size: 28px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left , var(--JShine));
}

.menu ul {
    padding-top: 30px;
    list-style: none;
}

.menu .nav {
    padding-bottom: 30px;
    border-bottom: 2px solid var(--light);
}

.menu li .tab-item {
    opacity: .65;
    padding: 4px 20px;
    text-decoration: none;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image:  linear-gradient(to left, #40e0d0, #ff8c00, #ff0080);
    display: block;
    transition: .3s linear;
}

.menu li .active {
    opacity: 1;
}

.menu li:hover a {
    opacity: 1;
}

.menu li i {
    width:30px;
}

.menu .line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;
    border-radius: 15px;
    background-image: linear-gradient(to top , var(--JShine));
    transition: all 0.3s ease;
}


.container .center {
    background-color: var(--light);
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
}


.container .cart {
    background-color: var(--white);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* center */
.center .search {
    background-color: var(--white);
    padding: 20px;
    height: 85px;
}

.center .search .form {
    width: max-content;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 14px;
    color: var(--light);
    position: relative;
}

.center .search .form input {
    border: none;
    outline: none;
    padding: 0 10px;
    width: 150px;
}

.center .search .form button {
    border: none;
    background-image: linear-gradient(to left , var(--JShine));
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.form button:hover {
    box-shadow: 0 0 8px var(--ping);
}


.center h2 {
    padding: 8px 16px;
}

.list-products {
    padding: 0 20px 20px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 16px;
    column-gap: 16px;
}

.list-products .item {
    background-color: var(--white);
    padding: 8px;
    border-radius: 12px;
}

.item .img img {
    border-radius: 16px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 135px;
}

.item .des {
    opacity: .7;
}

.item .form-buy {
    display: grid;
    grid-template-columns: 30%  23% 25% 10%;
    gap: 8px;
    padding: 4px 0;
}

.form-buy .price {
    font-size: 20px;
    font-weight: 600;
    color: red;
    text-align: center;
}

.form-buy .count {
    width: 60px;
    font-size: 20px;
    font-weight: 600;
    padding: 0 4px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.form-buy .add-count {
    background-color: var(--orange);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transform: translateX(0);
    transition: transform .2s linear;
}

.form-buy .add-count:hover i {
    animation: backAdd .2s linear;
    animation-iteration-count: 1;
    transform: translateX(-24px);
}

@keyframes backAdd {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-24px);
    }
}

.form-buy .remove {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.form-buy .add-count:hover ,
.form-buy .remove:hover {
    box-shadow: 0 5px 5px var(--green);
    transform: translate(0 , -2px);
}


/* End center */

.cart .name {
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left bottom , var(--JShine));
}

.cart .listCart{
    display: flex;
    flex-wrap: wrap-reverse;
}

.cart .item {
    transition: .5s linear;
    border-bottom: 1px solid var(--light);
    padding: 16px;
}

.cart .add-count {
    display: none;
}

.cart .remove {
    display: inline-block;
}

.danger {
    box-shadow: 0 10px 10px var(--orange);
    transform: translate(0 , -10px);
}

.cart {
    position: relative;
}

.pay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: opacity .2s linear;
}

.pay label {
    padding: 4px 8px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, #40e0d0, #ff8c00, #ff0080);
    font-size: 24px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

.pay input {
    width: 100px;
    font-size: 20px;
    border: 1px solid var(--ping);
    padding: 4px 8px;
    text-align: center;
}

.pay input,
.pay .btn-pay {
    outline: none;
    border-radius: 24px;
}

.pay .btn-pay {
    border: none;
    background-image: linear-gradient(to left , var(--JShine));
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: .2s linear;
}

.pay .btn-pay:hover {
    box-shadow: 0 4px 4px var(--danger);
    transform: translate(0 , -4px);
}
